<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dg.main.dao.orders.LogisticsLogMapper">
    <select id="selectCount" resultType="int">
		SELECT count(*) FROM logistics_log
	</select>

    <!-- 分页 -->
    <select id="selectPageAll" resultType="com.dg.main.Entity.orders.LogisticsLog">

		select * from logistics_log ORDER BY id  LIMIT #{limit} OFFSET ${offset};
	</select>

    <insert id="save" parameterType="com.dg.main.Entity.orders.LogisticsLog">
		insert into logistics_log(logistics_state_id,accept_time,accept_station)
		values(#{logisticsStateId},#{AcceptTime},#{AcceptStation});
	</insert>

    <select id="selectOne" parameterType="int" resultType="com.dg.main.Entity.orders.LogisticsLog">
		SELECT * FROM logistics_log where id = #{id}
	</select>
    <select id="selectByTypes" parameterType="int" resultType="com.dg.main.Entity.orders.LogisticsLog">
		 SELECT * FROM logistics_log where types = #{type}
	</select>
    <select id="findBy" parameterType="long" resultType="com.dg.main.Entity.orders.LogisticsLog">
		SELECT * FROM logistics_log where id = #{id}
	</select>
	<select id="findByLogisticsStateId" parameterType="long"  resultType="com.dg.main.Entity.orders.LogisticsLog">
               SELECT * FROM logistics_state_id where id = #{logisticsStateId}
	</select>
    <delete id="deleteBy" parameterType="long">
		delete from logistics_log where  id = #{id}
	</delete>
    <delete id="deleteAllId">
        delete from logistics_log where id in
        <foreach collection="t" item="u" open="(" separator="," close=")">
            ${u}
        </foreach>
    </delete>

    <update id="update" parameterType="com.dg.main.Entity.orders.LogisticsLog">
		update logistics_log
		set rate=${rate}
		where id=${id}
	</update>
</mapper>