<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dg.main.dao.orders.LogisticsStateMapper">
    <select id="selectCount" resultType="int">
		SELECT count(*) FROM logistics_state
	</select>

    <!-- 分页 -->
    <select id="selectPageAll" resultType="com.dg.main.Entity.orders.LogisticsState">

		select * from logistics_state ORDER BY id  LIMIT #{limit} OFFSET ${offset};
	</select>

    <insert id="save" parameterType="com.dg.main.Entity.orders.LogisticsState">
		insert into logistics_state(state,e_business_id,success,logistic_code,shipper_code,order_code)
		values(#{State},#{EBusinessID},#{Success},#{LogisticCode},#{ShipperCode},#{orderCode});
	</insert>

    <select id="selectOne" parameterType="int" resultType="com.dg.main.Entity.orders.LogisticsState">
		SELECT * FROM logistics_state where id = #{id}
	</select>
    <select id="selectByTypes" parameterType="int" resultType="com.dg.main.Entity.orders.LogisticsState">
		 SELECT * FROM logistics_state where types = #{type}
	</select>
    <select id="findBy" parameterType="long" resultType="com.dg.main.Entity.orders.LogisticsState">
		SELECT * FROM logistics_state where id = #{id}
	</select>
    <select id="findByOrderCode" parameterType="string" resultType="com.dg.main.Entity.orders.LogisticsState">
		SELECT * FROM logistics_state where order_code = #{code}
	</select>
    <delete id="deleteBy" parameterType="long">
		delete from logistics_state where  id = #{id}
	</delete>
    <delete id="deleteAllId">
        delete from logistics_state where id in
        <foreach collection="t" item="u" open="(" separator="," close=")">
            ${u}
        </foreach>
    </delete>

    <update id="update" parameterType="com.dg.main.Entity.orders.LogisticsState">
		update logistics_state
		set state=${State},success=${Success}
		where id=${id}
	</update>
</mapper>